@tailwind base;
@tailwind components;
@tailwind utilities;

.navSidebar{
    z-index: 800;
    @apply  fixed md:static md:fixed font-bold text-2xl flex items-center justify-between  border-sec shadow-lg shadow-sec
}

.sidebar {
    @apply z-20 h-full block pt-2 top-14 bg-primary md:top-20 bottom-0 
    w-14 shadow-xl left-0 flex-row flex-nowrap md:w-[110px] border-r-2 transition-all duration-300; 

    box-shadow: 1px 0 15px rgba(103,189,173,1); 
   
}

.sidebarExp {
    @apply z-20 h-full block pt-2 bg-primary top-14 md:top-20 bottom-0 
    shadow-xl left-0 flex-row flex-nowrap w-[250px] border-r-2 transition-all duration-300;

    box-shadow: 1px 0 15px rgba(103, 189, 173, 1);
}

.sidebarContent {
    @apply flex flex-col md:min-w-full items-center 
}

.sidebarButton {
    @apply md:p-2 md:ml-0 ml-1 md:text-lg text-white rounded-lg my-3 md:w-auto md:h-auto overflow-hidden
}

.activeSidebarButton {
    @apply md:p-2 ml-2 md:text-2xl text-white rounded-lg md:w-full md:h-auto overflow-hidden
}