@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F2F2F2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

textarea:focus {
  @apply border-sec bg-blackButtonBackground
}

button {
  @apply border-2 rounded-lg border-gray transition-all duration-300 outline-none
}

button:hover {
  @apply border-sec bg-blackButtonBackground
}

.addButton {
  @apply text-ctext transition-all duration-300 ease-in-out transform
}

.addButton:hover {
  @apply text-sec shadow-lg 
}

.addButton:active {
  @apply text-sec shadow-lg opacity-80 scale-75
}

.removeButton {
  @apply text-gray transition-all duration-300 ease-in-out transform
}

.removeButton:hover {
  @apply text-sec shadow-lg
}

.removeButton:active {
  @apply text-sec shadow-lg opacity-80 scale-75
}